<div class="companyContact">
  <hr>
  <div class="row container mx-auto">
    <div class="col-3">
      <img src="../../assets/imagesVideos/mainlogobig.jpg" alt="" class="w-100">
    </div>
    <div class="col-7 d-flex flex-column gap-3 align-items-center">
      <div class=" d-flex align-items-center  gap-2">
        <div class="contactnumber"><i class="ri-phone-line"></i>+91 9100109902, +91 6303675231</div>
        <div class="email d-flex gap-1 align-items-center"><i class="ri-mail-line"></i> <span
            class="mb-1">partners@ordermatic.in</span></div>
      </div>
      <div class="">7th floor, Innov8, Vasavi Sky City, Gachibowli, Hyderabad-500081</div>
      <div class="">© 2026 – Order Matic Technologies Private Limited •Privacy Policy •Terms of Service
        •Careers</div>
    </div>
    <div class="col-2">
      <div class="fs-3 d-flex gap-1 align-items-center float-end">
        <i class="ri-linkedin-fill"></i>
        <i class="ri-youtube-line"></i>
        <i class="ri-instagram-line"></i>
      </div>
    </div>
  </div>
</div>
